<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sickapp">

    <application
        android:name=".UserSettings"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SickApp">
        <activity
            android:name=".Obat_detail"
            android:exported="false" />
        <activity
            android:name=".Disease_detail"
            android:exported="false" />
        <activity
            android:name=".Information_page"
            android:exported="false" />
        <activity
            android:name=".FirstAid_end"
            android:exported="false" />
        <activity
            android:name=".Change_obat"
            android:exported="false" />
        <activity
            android:name=".Add_gejala"
            android:exported="false"
            android:parentActivityName=".Admin_page" />
        <activity
            android:name=".Add_obat"
            android:exported="false" />
        <activity
            android:name=".Change_disease"
            android:exported="false" />
        <activity
            android:name=".Guest_page"
            android:exported="false" />
        <activity
            android:name=".User_page"
            android:exported="false" />
        <activity
            android:name=".Add_Disease"
            android:exported="false" />
        <activity
            android:name=".Admin_page"
            android:exported="false" />
        <activity
            android:name=".FirstAid"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Guest_home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>